
@{
    ViewData["Title"] = "UserResponseVerbal";
}


<div class="center">
 <div class="form-group">
<h1 class="display-4">Exam Over</h1>
</div>
</div>
<br />

<div class="center">
     <a class="btn btn-primary" asp-area="" asp-controller="Student" asp-action="Index">MarksHistory</a><br><br>
</div>




     <style>
        body {
            background-image:
            url("/Image/Online exam login.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>    
